<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Handling Data Changes</title>


    <script src="js/angular.min.js"></script>
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />

    <script>
        angular.module("exampleApp", [])

        .directive("orderedList", function () {

            var controller = ['$scope', function ($scope) {

                $scope.init = function () {
                    $scope.items = angular.copy($scope.datasource);
                    
                    for (item in $scope.items) {
                        //alert("1")
                        $scope.items[item] *= 2;
                        //alert("2" + item)
                    }
                }

                $scope.validateInput = function (inputArray) {
                    if (inputArray !== undefined && inputArray !== null && angular.isArray(inputArray) && inputArray.length >= 4) {
                        return true;
                    }
                    return false;
                }

                $scope.init();

                $scope.$watch('datasource', function (neww, old) {

                    if ($scope.validateInput(neww)) {
                        $scope.init();
                    }
                }, true)
                                
                $scope.testClick = function (index) {
                    alert("testClick " + index);
                }
            }]//,

            //template = '<button ng-click="addItem()">Add Item</button><ul>' +
            //           '<li ng-repeat="item in items">{{ ::item.name }}</li></ul>';


            return {
                scope: {
                    datasource: "=arr"
                },
                link: function (scope, element, attributes) {
                    //scope.$watch($scope.datasource, function () {
                        
                    //})
                   
                },
                controller: controller,
                replace: true,
                template: function () {
                    var html = "<ul>" +
                               '<li ng-click="testClick($index)" ng-repeat="item in items track by $index">{{item}} : {{$index}}</li>' +
                               "</ul>";
                    return html;
                }
            }
        })
        .controller("defaultCtrl", function ($scope) {

            $scope.arrayQQ = [1, 2, 3, 4];
            $scope.newItem;

            $scope.changePrices = function () {
                for (var i = 0; i < $scope.arrayQQ.length; i++) {
                    $scope.arrayQQ[i]++;
                }
            }

            $scope.addNew = function () {
                var item = $scope.newItem;
                $scope.arrayQQ.push(item);
            }
        });
    </script>
</head>
<body ng-controller="defaultCtrl">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3>Items</h3>
        </div>

        <div class="panel-body">
            <button class="btn btn-success" ng-click="changePrices()">
                <h4>Change Prices</h4>
            </button>
        </div>

        <div class="panel-body">
            <input class="form-control" ng-model="newItem"/><!--ng-model="newItem" -->
            <button class="btn btn-success" ng-click="addNew()">
                <h4>Add</h4>
            </button>
        </div>

        <div class="panel-body">
            <div ordered-list arr="arrayQQ"></div>
        </div>
    </div>
</body>
</html>

